<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | INSIGNIA 2023</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantora+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-bar">
            <img src="../assets/images/sdm-logo.png" height="100px" width="80px" class="logo-img">
            <h3 class="title">Shri Dharmasthala Manjunatheshwara College <br> of Enginnering and Technology, Dharwad</h3>
            <img src="../assets/images/dvh.jpg" height="100px" width="100px" class="dvh-img">
        </div>
    </header>
    
    <div class="main-container">
        <h1 class="insignia-title">INSIGNIA 2023</h1>
    </div>
</body>
</html>